/* Lien Ho Hoang 2019/11/03 */

.card{
  margin-bottom: 1rem;
}

.btn{
  width: 100px;
  margin: 0.5rem;
  margin-left: 0;
}
.form{
  border: 1px solid rgba(0,0,0,.125);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
  background-color:#e9ecef ;
}
.card-title{
  font-weight: 500;
  font-size: 2rem;
}
.title{
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem;
}

